.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}

.header-greeting {
    font-size: 20px;
    color: #333;
}

.header-logout-button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.header-logout-button:hover {
    background-color: #c82333;
}
