.portfolio-overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 2%;
  }
  
  .stock-items-container {
    width: 30%;
    margin-right: 20px; /* Add some space between the stock items and the graph */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stock-items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hottest-stocks {
  width: 30%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  
  .performance-graph-container {
    width: 60%;
  }

@media (max-width: 768px) {
  .portfolio-overview {
    flex-wrap: wrap;
  }
  .stock-items-container, .performance-graph-container, .hottest-stocks {
    flex-basis: 100%; 
    margin-bottom: 10px;
  }
}

  