.portfolio-overview {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .stock-items-container {
    width: 40%;
    margin-right: 20px; /* Add some space between the stock items and the graph */
  }
  
  .performance-graph-container {
    width: 60%;
  }
  